__pycache__/
*.pyc
*.pyo
*.pyd
.streamlit/
.env
.env.*
*.sqlite3
*.csv
!example_child_data.csv
*.json
*.h5
*.model
.DS_Store
Thumbs.db
*.ipynb
.git
.gitignore
*.Rproj
Data_collection_and_cleaning/
gru_full_tuner/
gru_reduced_tuner/
lstm_full_tuner/
lstm_reduced_tuner/
GRU_obesity_zbmi_predictor/
*.RData
*.Rhistory
*.pdf
*.Rmd
LICENSE
streamlit_app_code.txt
old_models.py